In [2]:
import numpy as np
import pandas as pd
from meshparty import meshwork, trimesh_vtk
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_feather('data_frame1.feather')
df

       Neuron_1  Neuron_2  0-1  1-2  2-3  3-4  4-5
0             0         1    0    4    8    8   17
1             0         2    0    0    0    0    0
2             0         3    0    0    0    0    0
3             0         4    0    0    0    0    0
4             0         5    0    2    2    7    7
...         ...       ...  ...  ...  ...  ...  ...
13361       160       162    3   16   28   20   21
13362       160       163    0    0    0    0    0
13363       161       162    0   12    5    7    3
13364       161       163    0    3   23   24   37
13365       162       163    0    0    2    4    2

[13366 rows x 7 columns]

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13366 entries, 0 to 13365
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Neuron_1  13366 non-null  int64
 1   Neuron_2  13366 non-null  int64
 2   0-1       13366 non-null  int64
 3   1-2       13366 non-null  int64
 4   2-3       13366 non-null  int64
 5   3-4       13366 non-null  int64
 6   4-5       13366 non-null  int64
dtypes: int64(7)
memory usage: 731.1 KB
None

In [4]:
df1 = pd.read_feather('FinalDataset.feather')
df1

,Nrn 1,Nrn 2,Min Distance,Seg ID Nrn 1,Seg ID Nrn 2,Coordinates,# Interactions < 5 Microns,predicted_MET-type Label_x,predicted_MET-type Label_y
0,0,1,1.247282,864691135012644086,864691135013235606,"[189914.0, 99604.0, 21576.0]",37,Vip-MET-1,Lamp5-MET-1
1,0,2,211.310281,864691135012644086,864691135058985115,"[199712.0, 147294.0, 22795.0]",0,Vip-MET-1,Sst-MET-6
2,0,3,219.970628,864691135012644086,864691135082074103,"[199712.0, 147294.0, 22795.0]",0,Vip-MET-1,Sst-MET-9
3,0,4,337.466055,864691135012644086,864691135082074359,"[194900.0, 143232.0, 21607.0]",0,Vip-MET-1,Sst-MET-12
4,0,5,1.397254,864691135012644086,864691135100167712,"[200158.0, 131714.0, 22472.0]",18,Vip-MET-1,Pvalb-MET-4
...,...,...,...,...,...,...,...,...,...
13361,160,162,0.759537,864691137020057710,864691137053995126,"[183930.0, 156228.0, 22648.0]",88,Sst-MET-8,Pvalb-MET-4
13362,160,163,6.697735,864691137020057710,864691137197329985,"[186936.0, 165318.0, 22376.0]",0,Sst-MET-8,Vip-MET-1
13363,161,162,1.139094,864691137053906294,864691137053995126,"[187128.0, 160698.0, 22819.0]",27,Sst-MET-8,Pvalb-MET-4
13364,161,163,1.533769,864691137053906294,864691137197329985,"[181816.0, 160454.0, 20263.0]",87,Sst-MET-8,Vip-MET-1
13365,162,163,2.886016,864691137053995126,864691137197329985,"[199214.0, 138438.0, 21045.0]",8,Pvalb-MET-4,Vip-MET-1

In [13]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13366 entries, 0 to 13365
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nrn 1                       13366 non-null  int64
 1   Nrn 2                       13366 non-null  int64
 2   Min Distance                13366 non-null  float64
 3   Seg ID Nrn 1                13366 non-null  object
 4   Seg ID Nrn 2                13366 non-null  object
 5   Coordinates                 13366 non-null  object
 6   # Interactions < 5 Microns  13366 non-null  int64
 7   predicted_MET-type Label_x  13366 non-null  object
 8   predicted_MET-type Label_y  13366 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 939.9+ KB
None

In [36]:
DistanceRange = pd.merge(df, df1, left_on = 'Neuron_1', right_on = 'Nrn 1', how = 'left')
df2 = pd.DataFrame(DistanceRange, columns=['Neuron_1', 'Neuron_2', 'Nrn 1', 'Nrn 2', '0-1', '1-2', '2-3', '3-4', '4-5', '# Interactions < 5 Microns', 'Seg ID Nrn 1', 'Seg ID Nrn 2', 'predicted_MET-type Label_x', 'predicted_MET-type Label_y'])
print(df2.head(10))

   Neuron_1  Neuron_2  Nrn 1  Nrn 2  0-1  1-2  2-3  3-4  4-5  \
0         0         1      0      1    0    4    8    8   17
1         0         1      0      2    0    4    8    8   17
2         0         1      0      3    0    4    8    8   17
3         0         1      0      4    0    4    8    8   17
4         0         1      0      5    0    4    8    8   17
5         0         1      0      6    0    4    8    8   17
6         0         1      0      7    0    4    8    8   17
7         0         1      0      8    0    4    8    8   17
8         0         1      0      9    0    4    8    8   17
9         0         1      0     10    0    4    8    8   17

   # Interactions < 5 Microns        Seg ID Nrn 1        Seg ID Nrn 2  \
0                          37  864691135012644086  864691135013235606
1                           0  864691135012644086  864691135058985115
2                           0  864691135012644086  864691135082074103
3                           0  864691135012644086  864691135082074359
4                          18  864691135012644086  864691135100167712
5                           1  864691135012644086  864691135113511065
6                           9  864691135012644086  864691135132887456
7                           0  864691135012644086  864691135155906916
8                           0  864691135012644086  864691135162585389
9                           0  864691135012644086  864691135194735914

  predicted_MET-type Label_x predicted_MET-type Label_y
0                  Vip-MET-1                Lamp5-MET-1
1                  Vip-MET-1                  Sst-MET-6
2                  Vip-MET-1                  Sst-MET-9
3                  Vip-MET-1                 Sst-MET-12
4                  Vip-MET-1                Pvalb-MET-4
5                  Vip-MET-1                Lamp5-MET-1
6                  Vip-MET-1                Lamp5-MET-1
7                  Vip-MET-1                 Sst-MET-12
8                  Vip-MET-1                  Sst-MET-3
9                  Vip-MET-1                 Sst-MET-12

In [29]:
# Create final dataframe 
df3 = pd.DataFrame(DistanceRange, columns=[ '0-1', '1-2', '2-3', '3-4', '4-5', '# Interactions < 5 Microns', 'predicted_MET-type Label_x', 'predicted_MET-type Label_y'])
df3

,0-1,1-2,2-3,3-4,4-5,# Interactions < 5 Microns,predicted_MET-type Label_x,predicted_MET-type Label_y
0,0,4,8,8,17,37,Vip-MET-1,Lamp5-MET-1
1,0,4,8,8,17,0,Vip-MET-1,Sst-MET-6
2,0,4,8,8,17,0,Vip-MET-1,Sst-MET-9
3,0,4,8,8,17,0,Vip-MET-1,Sst-MET-12
4,0,4,8,8,17,18,Vip-MET-1,Pvalb-MET-4
...,...,...,...,...,...,...,...,...
1456889,0,12,5,7,3,27,Sst-MET-8,Pvalb-MET-4
1456890,0,12,5,7,3,87,Sst-MET-8,Vip-MET-1
1456891,0,3,23,24,37,27,Sst-MET-8,Pvalb-MET-4
1456892,0,3,23,24,37,87,Sst-MET-8,Vip-MET-1
1456893,0,0,2,4,2,8,Pvalb-MET-4,Vip-MET-1

In [30]:
# Plot the data
sns.set_theme(style="whitegrid")
ax = sns.stripplot(data=df3) #, jitter=True
# ax.set(ylim=ylims)
plt.show()
# (x=('0-1','1-2','2-3','3-4','4-5'), y='# Interactions < 5 Microns', hue='predicted_MET-type Label_x',

KeyboardInterrupt: